body {
  font-family: var(--font-sans);
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDFgSRzYJfrAPyi2sfN9QJUvu0mddmt4E1_g&s') no-repeat center center fixed;
  background-size: cover;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.45;
  padding: 24px;
}
